# Copy this file to .env and fill in your values

DATABASE_URL=postgresql://user:password@localhost:5432/fight_ai

# Currently the app is using local file system to store and serve videos, this is a path to the ai/fight_videos
# folder from which the videos are served
VIDEO_BASE_DIR=users/...

# Dev only — set to true to skip video file deletion on DELETE /fights/{id}/
# KEEP_VIDEO_ON_DELETE=true